n8n/workflow.json
{
  "name": "Lead Intake Qualification Pipeline",
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ed2f31d-136c-47b8-95f9-031da7c9e0b8",
  "nodes": [
    {
      "parameters": {
        "path": "lead-intake-v3",
        "httpMethod": "POST",
        "responseMode": "onReceived"
      },
      "id": "lead_webhook",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        220,
        320
      ],
      "webhookId": "lead-intake-v3"
    },
    {
      "parameters": {
        "keepOnlySet": false,
        "values": {
          "string": [
            {
              "name": "pipeline",
              "value": "lead-intake-qualification"
            },
            {
              "name": "receivedAt",
              "value": "={{new Date().toISOString()}}"
            }
          ]
        }
      },
      "id": "normalize_lead_payload",
      "name": "Normalize Lead Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        450,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item) => {\n  const budget = Number(item.json.budget || 0);\n  const urgency = String(item.json.urgency || 'normal').toLowerCase();\n  const source = String(item.json.source || 'unknown').toLowerCase();\n\n  let deterministicScore = 35;\n  if (budget >= 5000) deterministicScore += 25;\n  if (budget >= 12000) deterministicScore += 10;\n  if (urgency.includes('high') || urgency.includes('urgent')) deterministicScore += 15;\n  if (source.includes('referral')) deterministicScore += 10;\n\n  return {\n    json: {\n      ...item.json,\n      deterministicScore: Math.min(deterministicScore, 100),\n      deterministicPriority: deterministicScore >= 75 ? 'hot' : deterministicScore >= 55 ? 'warm' : 'cold',\n    },\n  };\n});"
      },
      "id": "deterministic_lead_scoring",
      "name": "Deterministic Lead Scoring",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        320
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{'You are a B2B lead qualification agent. Return strict JSON with keys aiScore (0-100), priority (hot|warm|cold), summary (string). Lead payload: ' + JSON.stringify($json)}}",
        "options": {}
      },
      "id": "ai_lead_qualifier",
      "name": "AI Lead Qualifier",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        940,
        220
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "openai_chat_model",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        940,
        520
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item) => {\n  const rawCandidate =\n    item.json.output ??\n    item.json.text ??\n    item.json.response ??\n    item.json.result ??\n    item.json;\n\n  let parsed = {};\n\n  if (typeof rawCandidate === 'string') {\n    try {\n      parsed = JSON.parse(rawCandidate);\n    } catch (error) {\n      parsed = { summary: rawCandidate };\n    }\n  } else if (rawCandidate && typeof rawCandidate === 'object') {\n    parsed = rawCandidate;\n  }\n\n  const pickNumber = (...keys) => {\n    for (const key of keys) {\n      const value = Number(parsed[key]);\n      if (Number.isFinite(value) && value > 0) return value;\n    }\n    return 0;\n  };\n\n  const pickString = (...keys) => {\n    for (const key of keys) {\n      const value = parsed[key];\n      if (typeof value === 'string' && value.trim()) return value.trim();\n    }\n    return '';\n  };\n\n  return {\n    json: {\n      aiScore: pickNumber('aiScore', 'score', 'riskScore', 'severityScore', 'readinessScore'),\n      aiPriority: pickString('priority', 'queue', 'recommendation', 'decision'),\n      aiSummary: pickString('summary', 'rationale', 'reason', 'triageSummary', 'recommendation') || 'ai_response_unavailable',\n      aiPayload: parsed,\n    },\n  };\n});"
      },
      "id": "parse_ai_output",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1160,
        220
      ]
    },
    {
      "parameters": {
        "mode": "combine"
      },
      "id": "merge_ai_with_rules",
      "name": "Merge AI with Rules",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1160,
        360
      ]
    },
    {
      "parameters": {
        "jsCode": "return $input.all().map((item) => {\n  const deterministicScore = Number(item.json.deterministicScore || 0);\n  const aiScore = Number(item.json.aiScore || 0);\n  const leadScore = aiScore > 0\n    ? Math.round((deterministicScore * 0.65) + (aiScore * 0.35))\n    : deterministicScore;\n\n  const priority = leadScore >= 75 ? 'hot' : leadScore >= 55 ? 'warm' : 'cold';\n\n  return {\n    json: {\n      ...item.json,\n      leadScore,\n      priority,\n      aiSummary: item.json.aiSummary || 'deterministic fallback used',\n    },\n  };\n});"
      },
      "id": "final_priority_decision",
      "name": "Final Priority Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1380,
        360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.leadScore}}",
              "operation": "largerEqual",
              "value2": 75
            }
          ]
        }
      },
      "id": "hot_lead_check",
      "name": "Hot Lead?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1600,
        360
      ]
    },
    {
      "parameters": {
        "resource": "contact",
        "operation": "upsert",
        "email": "={{$json.email || \"lead@example.com\"}}",
        "additionalFields": {}
      },
      "id": "hubspot_upsert_contact",
      "name": "HubSpot Upsert Contact",
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1820,
        450
      ]
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "create",
        "databaseId": {
          "mode": "url",
          "value": "https://www.notion.so/00000000000000000000000000000000"
        },
        "title": "={{\"Lead: \" + ($json.firstName || $json.name || \"Unknown\") + \" | \" + ($json.priority || \"cold\")}}",
        "simple": true
      },
      "id": "notion_record_lead",
      "name": "Notion Record Lead",
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        1820,
        320
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "id",
          "value": "C01234567"
        },
        "messageType": "text",
        "text": "={{\"🔥 HOT lead: \" + ($json.email || \"no-email\") + \" | score \" + ($json.leadScore || 0)}}"
      },
      "id": "slack_hot_lead_alert",
      "name": "Slack Hot Lead Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1820,
        180
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": {
          "mode": "id",
          "value": "C01234567"
        },
        "messageType": "text",
        "text": "={{\"New lead: \" + ($json.email || \"no-email\") + \" | priority \" + ($json.priority || \"cold\")}}"
      },
      "id": "slack_standard_lead_alert",
      "name": "Slack Standard Lead Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        1820,
        560
      ]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "send",
        "sendTo": "={{\"owner@example.com\"}}",
        "subject": "Lead Qualification Summary",
        "message": "={{\"Priority: \" + ($json.priority || \"cold\") + \"\\nScore: \" + ($json.leadScore || 0) + \"\\nAI: \" + ($json.aiSummary || \"N/A\")}}"
      },
      "id": "gmail_owner_lead_summary",
      "name": "Gmail Owner Lead Summary",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2050,
        450
      ]
    }
  ],
  "connections": {
    "Lead Webhook": {
      "main": [
        [
          {
            "node": "Normalize Lead Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Lead Payload": {
      "main": [
        [
          {
            "node": "Deterministic Lead Scoring",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deterministic Lead Scoring": {
      "main": [
        [
          {
            "node": "AI Lead Qualifier",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge AI with Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Lead Qualifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Lead Qualifier": {
      "main": [
        [
          {
            "node": "Parse AI Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output": {
      "main": [
        [
          {
            "node": "Merge AI with Rules",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge AI with Rules": {
      "main": [
        [
          {
            "node": "Final Priority Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Final Priority Decision": {
      "main": [
        [
          {
            "node": "Hot Lead?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hot Lead?": {
      "main": [
        [
          {
            "node": "Slack Hot Lead Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notion Record Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "HubSpot Upsert Contact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slack Standard Lead Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notion Record Lead",
            "type": "main",
            "index": 0
          },
          {
            "node": "HubSpot Upsert Contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HubSpot Upsert Contact": {
      "main": [
        [
          {
            "node": "Gmail Owner Lead Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
